{% extends '@App/admin/base.html.twig' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}">
{% endblock %}

{% block content_header %}
    <h2>Google services configurations</h2>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            {% include '@App/admin/partials/_flash_messages.html.twig' %}
        </div>
    </div>

    <div class="row">
        <section class="col-md-12">
            <div class="nav-tabs-custom">

                <ul class="nav nav-tabs">
                    <li class="active"><a href="#g_analytics" data-toggle="tab">Analytics</a></li>
                </ul>

                <div class="box-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="g_analytics">

                            {% if config is null %}
                                <div class="alert alert-warning">
                                    <strong>Warning!</strong>
                                    <br>
                                    <p>
                                        Can not load Google Analytics config file in <u>{{ google_analytics_config_path }}</u>
                                    </p>
                                </div>
                                {% else %}
                                    <form autocomplete="off"
                                          action="{{ path('app.admin.system.google_analytics_handle_config') }}"
                                          method="post">

                                        <input autocomplete="false" name="hidden" type="text" style="display:none;">

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="account_id">Select active account:</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <select class="form-control" id="account_id" name="account_id">
                                                        <option selected disabled>Select an account</option>

                                                        {% for account in accountList %}
                                                            <option value="{{ account.id }}"
                                                                    {% if config.active_account_id == account.id %}selected{% endif %}>
                                                                {{ account.name }}
                                                            </option>
                                                        {% endfor %}

                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Select dates interval: </label>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group input-daterange" id="picker-container">
                                                        <input type="text" data-datepicker class="form-control actual_range"
                                                               name="date_from" id="date_from"
                                                               data-value="{{ config.date_from }}">
                                                        <div class="input-group-addon">to</div>
                                                        <input type="text" data-datepicker class="form-control" name="date_to"
                                                               id="date_to" data-value="{{ config.date_to }}"
                                                               data-date-end-date="0d">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Select reports to show: </label>
                                                </div>
                                                <div class="col-md-8">
                                                    {% for key, value in reportOptions %}

                                                        <label class="checkbox-inline">
                                                            <input type="checkbox" value="{{ key }}"
                                                                   name="reports_to_show[]"
                                                                    {% if key in config.reports_to_show %}
                                                                        checked
                                                                    {% endif %}
                                                            >
                                                            {{ value }}
                                                        </label>

                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button type="submit" class="btn btn-success">Save config</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                            {% endif %}
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                </div>

                <!-- /.tab-content -->
            </div>
        </section>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('node_modules/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('node_modules/bootstrap-datepicker/js/locales/bootstrap-datepicker.en-CA.js') }}"></script>

    <script>
        $('.input-daterange input').each(function () {
            $(this).datepicker({
                'autoclose': true,
                'container': '#picker-container',
                'clearBtn': true,
                'format': 'dd.mm.yyyy',
                'multidate': true,
                'minDate': 0
            }).data('datepicker').clearDates()
        });

        $('#date_from').val($('#date_from').data('value'));
        $('#date_to').val($('#date_to').data('value'));
    </script>
{% endblock %}