{% extends '@App/admin/layout/list.html.twig' %}

{% block list_title %}Product list{% endblock %}

{% block list_content %}
    <div class="box-header">
        <a href="{{ path('app.admin.product.add') }}" role="button" class="btn btn-success">Add product</a>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered table-hover dataTable">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Model</th>
                <th>Price</th>
                <th>Enable</th>
                <th>Quantity</th>
                <th>Category</th>
                <th>Manufacturer</th>
                <th>Featured</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.model }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.status }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.category.name }}</td>
                    <td>{{ product.manufacturer.name }}</td>
                    <td>{{ product.featured }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="{{ path('app.admin.product.edit', {'object': product.id}) }}"
                               type="button" class="btn btn-success">
                                <span class="fa fa-edit"></span>
                                Edit
                            </a>
                            <a href="{{ path('app.admin.product.delete', {'objectId': product.id}) }}"
                               type="button" class="btn btn-danger js-confirm-delete">
                                <span class="fa fa-trash"></span>
                                Delete
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
{% endblock %}