{% extends '@App/admin/layout/manage.html.twig' %}

{% block manage_title %}Manage product{% endblock %}

{% block preview_link %}
    {% if product is defined %}
    <strong>
        <p>Permalink: <a href="{{ path('app.front.single_product', {
                'category': product.category.name | lower,
                'product': get_product_slug(product)
            }) }}" target="_blank">{{ url('app.front.single_product', {
                    'category': product.category.name | lower,
                    'product': get_product_slug(product)
                }) }}</a></p>
    </strong>
    {% endif %}
{% endblock %}


{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ path('app.admin.index') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="{{ path('app.admin.product.list') }}">Products</a></li>
        {% if product is defined %}
            <li class="active">{{ product.name }}</li>
        {% else %}
            <li class="active">New product</li>
        {% endif %}
    </ol>
{% endblock %}

{% block manage_content %}
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab_general" data-toggle="tab" aria-expanded="true">
                    General
                </a>
            </li>
            <li class="">
                <a href="#tab_data" data-toggle="tab" aria-expanded="false">
                    Data
                </a>
            </li>
            <li class="">
                <a href="#tab_seo" data-toggle="tab" aria-expanded="false">
                    SEO
                </a>
            </li>
            <li class="">
                <a href="#tab_specifications" data-toggle="tab" aria-expanded="false">
                    Specifications
                </a>
            </li>
        </ul>
        <div class="box-body">

            {{ form_start(form) }}
            <div class="tab-content">
                <div class="tab-pane active" id="tab_general">
                    {{ form_row(form.name) }}

                    {{ form_label(form.slug) }}
                    <div class="input-group">
                        {{ form_widget(form.slug) }}
                        <div class="input-group-btn">
                            <button class="btn btn-primary translit-generate"
                                    data-toggle="tooltip" data-placement="top"
                                    type="button"
                                    title="Generate slug">
                                <i class="fa fa-link"></i>
                            </button>
                        </div>
                    </div>

                    {{ form_row(form.description) }}
                    {{ form_row(form.price) }}
                    {{ form_row(form.model) }}
                    {{ form_row(form.status) }}
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_data">
                    {{ form_row(form.category) }}
                    {{ form_row(form.manufacturer) }}
                    {{ form_row(form.featured) }}
                    {{ form_row(form.quantity) }}
                    {{ form_row(form.minimumQuantity) }}
                </div>
                <div class="tab-pane" id="tab_seo">
                    {{ form_row(form.metaTitle) }}
                    {{ form_row(form.metaKeywords) }}
                    {{ form_row(form.metaDescription) }}
                </div>
                <div class="tab-pane" id="tab_specifications">
                    {{ form_row(form.specifications) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <!-- /.tab-content -->
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('admin_files/js/translit.js') }}"></script>

    <script src="{{ asset('node_modules/select2/dist/js/select2.full.min.js') }}"></script>
    <script>
        $('.select-2-selector').select2({
            width: '100%',
            'background-color': '#00f'
        });

        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagButton = $('<button type="button" class="add_tag_link">Add a tag</button>');
        var $newLinkLi = $('<li></li>').append($addTagButton);

        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('div#product_specifications');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagButton.on('click', function (e) {
                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });
        });

        function addTagForm(collectionHolder, newLinkLi) {
            let prototype = collectionHolder.data('prototype');
            let index = collectionHolder.data('index');
            let newForm = prototype.replace(/__name__/g, index);
            collectionHolder.data('index', index + 1);
            let newFormRow = $('<li></li>').append(newForm);
            newLinkLi.before(newFormRow);
            // var prototype = $collectionHolder.data('prototype');
            // var index = $collectionHolder.data('index');
            // var newForm = prototype;
            // newForm = newForm.replace(/__name__/g, index);
            // $collectionHolder.data('index', index + 1);
            // var $newFormLi = $('<li></li>').append(newForm);
            // $newLinkLi.before($newFormLi);
        }
    </script>
{% endblock %}