{% extends '@App/admin/layout/manage.html.twig' %}

{% block manage_title %}Manage product{% endblock %}

{% block preview_link %}
    {% if product is defined %}
        <strong>
            <p>Permalink: <a href="{{ path('app.front.single_product', {
                    'category': product.category.name | lower,
                    'product': get_product_slug(product)
                }) }}" target="_blank">{{ url('app.front.single_product', {
                        'category': product.category.name | lower,
                        'product': get_product_slug(product)
                    }) }}</a></p>
        </strong>
    {% endif %}
{% endblock %}


{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><a href="{{ path('app.admin.index') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="{{ path('app.admin.product.list') }}">Products</a></li>
        {% if product is defined %}
            <li class="active">{{ product.name }}</li>
        {% else %}
            <li class="active">New product</li>
        {% endif %}
    </ol>
{% endblock %}

{% block manage_content %}
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab_general" data-toggle="tab" aria-expanded="true">
                    General
                </a>
            </li>
            <li class="">
                <a href="#tab_data" data-toggle="tab" aria-expanded="false">
                    Data
                </a>
            </li>
            <li class="">
                <a href="#tab_seo" data-toggle="tab" aria-expanded="false">
                    SEO
                </a>
            </li>
            <li class="">
                <a href="#tab_specifications" data-toggle="tab" aria-expanded="false">
                    Specifications
                </a>
            </li>
        </ul>
        <div class="box-body">

            {{ form_start(form) }}
            <div class="tab-content">
                <div class="tab-pane active" id="tab_general">
                    <div class="col-md-6">
                        {{ form_row(form.name) }}
                    </div>

                    <div class="col-md-6">
                        {{ form_label(form.slug) }}
                        <div class="input-group">
                            {{ form_widget(form.slug) }}
                            <div class="input-group-btn">
                                <button class="btn btn-primary translit-generate"
                                        data-toggle="tooltip" data-placement="top"
                                        type="button"
                                        title="Generate slug">
                                    <i class="fa fa-link"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        {{ form_row(form.description) }}
                    </div>

                    <div class="col-md-6">
                        {{ form_row(form.price) }}
                    </div>

                    <div class="col-md-6">
                        {{ form_row(form.model) }}
                    </div>

                    <div class="col-md-6">
                        {{ form_row(form.status) }}
                    </div>

                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_data">

                    <div class="col-md-6">{{ form_row(form.category) }}</div>
                    <div class="col-md-6">{{ form_row(form.manufacturer) }}</div>
                    <div class="col-md-6">{{ form_row(form.quantity) }}</div>
                    <div class="col-md-6"> {{ form_row(form.minimumQuantity) }}</div>
                    <div class="col-md-6"> {{ form_row(form.featured) }}</div>

                </div>
                <div class="tab-pane" id="tab_seo">

                    <div class="col-md-6">{{ form_row(form.metaTitle) }}</div>
                    <div class="col-md-6">{{ form_row(form.metaKeywords) }}</div>
                    <div class="col-md-12">{{ form_row(form.metaDescription) }}</div>

                </div>
                <div class="tab-pane" id="tab_specifications">

                    <div class="col-md-12">
                        <table class="table table-bordered table-hover dataTable"
                               data-widget-tags="{{ '<tr></tr>'|e }}">
                            <thead>
                            <tr>
                                <th>Specification Group</th>
                                <th>Specification</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody class="specification-table-body">
                            {% for specificationField in form.specifications %}
                                <tr id="object-id-{{ specificationField.specification.parent.vars.value.id }}">
                                    <td class="text-center">
                                        <strong>
                                            {{ specificationField.specification.parent.vars.value.specification.specificationGroup.name }}
                                        </strong>
                                    </td>
                                    <td>
                                        {{ form_widget(specificationField.specification) }}
                                    </td>
                                    <td>
                                        {{ form_widget(specificationField.description) }}
                                    </td>
                                    <td class="right-side">
                                        <button type="button" class="btn btn-danger ajax-delete"
                                                data-entity="product_specification"
                                                data-objectId="{{ specificationField.specification.parent.vars.value.id }}"
                                                data-confirmMessage="Are you sure you want to delete specification?"
                                                data-deleteurl="{{ path('app.admin.api.delete_object') }}"
                                        >
                                            <span class="fa fa-times"></span>
                                            Delete
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        {{ form_widget(form.specifications) }}
                    </div>

                </div>

                <div class="col-md-12">
                    {{ form_widget(form.save) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <!-- /.tab-content -->
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('admin_files/js/translit.js') }}"></script>

    <script src="{{ asset('node_modules/select2/dist/js/select2.full.min.js') }}"></script>
    <script>
        $('.select-2-selector').select2({
            width: '100%',
            'background-color': '#00f'
        });

        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagButton = $('<button type="button" class="btn btn-primary new-row-button"><span class="fa fa-plus"></span>&nbsp;Add a tag</button>');
        var $newLinkLi = $('<div></div>').append($addTagButton);

        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('div#product_specifications');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagButton.on('click', function (e) {
                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });
        });

        function addTagForm(collectionHolder, newLinkLi) {
            console.log('test')

            let prototype = collectionHolder.data('prototype');
            let index = collectionHolder.data('index');
            let newForm = prototype.replace(/__name__/g, index);
            let newFormRow = $('<div class="new-specification-div"></div>').append(newForm);
            let deleteButton = $('<button type="button" class="btn btn-danger delete-new-row-btn">Delete</button>');

            $(newFormRow).append(deleteButton);
            collectionHolder.data('index', index + 1);
            newLinkLi.before(newFormRow);

            deleteButton.on('click', function (e) {
                $(this).parent().remove();
            })
        }


    </script>
{% endblock %}