{% extends '@App/admin/base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block css %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css"
          href="{{ asset('node_modules/datatables/media/css/jquery.dataTables.min.css') }}">
{% endblock %}

{% block content_header %}
    <h1>
        Categories list
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
{% endblock %}

{% block content %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        {{ flashMessage }}
    {% endfor %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {{ form(form) }}
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}