{% extends '@App/template/default/base.html.twig' %}

{% block breadcrumbs %}
    {% include '@App/template/default/partials/_breadcrumbs.html.twig' with {
        'breadcrumbs': get_breadcrumbs(category)
    }%}
{% endblock %}

{% block content %}
    <div class="products">
        <div class="container">
            <div class="col-md-4 products-left">
                <div class="filter-price animated wow slideInUp" data-wow-delay=".5s">
                    <h3>Filter By Price</h3>
                    <ul class="dropdown-menu1">
                        <li><a href="">
                                <div id="slider-range"></div>
                                <input type="text" id="amount" style="border: 0" />
                            </a></li>
                    </ul>
                    <script type='text/javascript'>//<![CDATA[
                        $(window).load(function(){
                            $( "#slider-range" ).slider({
                                range: true,
                                min: 0,
                                max: 100000,
                                values: [ 20000, 80000 ],
                                slide: function( event, ui ) {  $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
                                }
                            });
                            $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) + " - $" + $( "#slider-range" ).slider( "values", 1 ) );


                        });//]]>
                    </script>
                    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
                    <!---->
                </div>
                <div class="categories animated wow slideInUp" data-wow-delay=".5s">
                    <h3>Categories</h3>
                    <ul class="cate">
                        {% for category in categories %}
                            <li>
                                <a href="{{ path('app.front.product.list', {
                                    'category': category.id,
                                }) }}">
                                    {{ category.parent }}
                                </a> <span>({{ count_category_products(category.id, category.parent) }})</span>
                            </li>
                            {% if category.children | length > 0 %}
                                <ul>
                                    {% for child in category.children %}
                                        <li>
                                            <a href="{{ path('app.front.product.list', {
                                                'category': child.id,
                                            }) }}">
                                                {{ child.parent }}
                                            </a> <span>({{ count_category_products(child.id, child.parent) }})</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="new-products animated wow slideInUp" data-wow-delay=".5s">
                    <h3>Featured Products</h3>
                    {% set featuredProducts = get_featured_products(3, 'DESC') %}

                    {% for featuredProduct in featuredProducts %}
                        <div class="new-products-grids">
                            <div class="new-products-grid">
                                <div class="new-products-grid-left">
                                    <a href="single.html"><img src="images/6.jpg" alt=" " class="img-responsive" /></a>
                                </div>
                                <div class="new-products-grid-right">
                                    <h4><a href="single.html">{{ featuredProduct.name }}</a></h4>
                                    <div class="rating">
                                        <div class="rating-left">
                                            <img src="images/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="images/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="images/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="images/1.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="images/1.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="simpleCart_shelfItem new-products-grid-right-add-cart">
                                        <p> <span class="item_price">${{ featuredProduct.price }}</span><a class="item_add" href="#">add to cart </a></p>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {#<div class="men-position animated wow slideInUp" data-wow-delay=".5s">#}
                    {#<a href="single.html"><img src="images/27.jpg" alt=" " class="img-responsive" /></a>#}
                    {#<div class="men-position-pos">#}
                        {#<h4>Summer collection</h4>#}
                        {#<h5><span>55%</span> Flat Discount</h5>#}
                    {#</div>#}
                {#</div>#}
            </div>
            <div class="col-md-8 products-right">
                <div class="products-right-grid">
                    <div class="products-right-grids animated wow slideInRight" data-wow-delay=".5s">
                        <div class="sorting">
                            <select id="country" onchange="change_country(this.value)" class="frm-field required sect">
                                <option value="null">Default sorting</option>
                                <option value="null">Sort by popularity</option>
                                <option value="null">Sort by average rating</option>
                                <option value="null">Sort by price</option>
                            </select>
                        </div>
                        <div class="sorting-left">
                            <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
                                <option value="null">Item on page 9</option>
                                <option value="null">Item on page 18</option>
                                <option value="null">Item on page 32</option>
                                <option value="null">All</option>
                            </select>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    {#<div class="products-right-grids-position animated wow slideInRight" data-wow-delay=".5s">#}
                        {#<img src="images/18.jpg" alt=" " class="img-responsive" />#}
                        {#<div class="products-right-grids-position1">#}
                            {#<h4>2016 New Collection</h4>#}
                            {#<p>Temporibus autem quibusdam et aut officiis debitis aut rerum#}
                                {#necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae#}
                                {#non recusandae.</p>#}
                        {#</div>#}
                    {#</div>#}
                </div>
                <div class="products-right-grids-bottom">

                    {% for product in products %}

                        <div class="new-collections-grid1 products-right-grid1 animated wow slideInUp col-md-6"
                             data-wow-delay=".5s">
                            <div class="new-collections-grid1-image">
                                <a href="single.html" class="product-image">
                                    <img src="images/19.jpg" alt=" " class="img-responsive"></a>
                                <div class="new-collections-grid1-image-pos products-right-grids-pos">
                                    <a href="{{ path('app.front.single_product', {
                                        'category': product.category.parent.name | lower,
                                        'product': get_product_slug(product)
                                    }) }}">Quick View</a>
                                </div>
                                <div class="new-collections-grid1-right products-right-grids-pos-right">
                                    <div class="rating">
                                        <div class="rating-left">
                                            <img src="images/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="images/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="images/2.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="images/1.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="rating-left">
                                            <img src="images/1.png" alt=" " class="img-responsive">
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            </div>
                            <h4><a href="{{ path('app.front.single_product', {
                                    'category': product.category.parent.name | lower,
                                    'product': get_product_slug(product)
                                }) }}">{{ product.name }}</a></h4>
                            <p>Vel illum qui dolorem.</p>
                            <div class="simpleCart_shelfItem products-right-grid1-add-cart">
                                <p>
                                    <span class="item_price">${{ product.price }}</span>
                                    <a class="item_add" href="#">add to cart </a></p>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="clearfix"> </div>
                </div>
                <nav class="numbering animated wow slideInRight" data-wow-delay=".5s">
                    <ul class="pagination paging">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
{% endblock %}